
i{
    color:yellowgreen;
}
#footer{
    background: yellowgreen;
    color: white;
    height:300px;
    width:100%;
}

.products{
    height:200px;
    width:300px;
    padding-left:30px;

}

@media only screen and (min-device-width: 200px){
    #picture{
        width:100%;
    }
}

@media only screen and (min-device-width: 500px){
    #picture{
        width:350px;
    }
}