
    /* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
  }
.center {
    margin: auto;
    /* width: 60%; */
    /* border: 3px solid #73AD21; */
    padding: 10px;
  }
.parallax {
      /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
    position: relative;
    /* The image used */
    background-image: url("https://cdn.vox-cdn.com/thumbor/6K8TEOs7TNKz-2p08cNv0ZBewBM=/0x0:3000x1792/1200x800/filters:focal(1260x656:1740x1136)/cdn.vox-cdn.com/uploads/chorus_image/image/62368692/510728016.jpg.0.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bottom_link{
    position:absolute;                  /* added */
    bottom:0;                           /* added */
    /* left:0;                           added */
 }
 #footer{
    background: yellowgreen;
    color: white;
    height:300px;
    width:100%;
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
